.containerHeader {
	height: 100%;

	margin: 0;

	/*background-image: webkit-gradient(linear, left bottom, right top, color-stop(0%, #faf0e1), color-stop(16%, #fbf2e4), color-stop(32%, #fbf3e7), color-stop(48%, #fbf4ea), color-stop(64%, #fcf6ed), color-stop(80%, #fcf7f0), color-stop(100%, #fdf9f3));*/
background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(122,139,159,1) 100%);

}
.img{
	margin-right: 80%;
	    margin-right: 1100px;
}

.containerHeader {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: rgba(255, 255, 255, 0);
	padding-top: 8px;
	padding-bottom: 8px;

}
.lead { font-family: 'Quicksand'; }
.header-bar {
	position: relative;
	width: 50%;
	min-width: 300px;
	height: 58px;
	border: 10px solid transparent;
	border-top: 10px solid rgba(90, 86, 86, 0.667);
	border-left: 10px solid rgba(91, 87, 87, 0.667);
	box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25) inset;
	margin-bottom: 0px;
    bottom: 120px;
    left: 40px;
    right: 0px;
    border-top-width: 10px;
    margin-top: 0px;
	width: 700px;
}
.header-bar::after {
	content: '';
	position: absolute;
	top: -10px;
	right: -10px;
	width: 30%;
	height: 58px;
	border: 10px solid transparent;
	border-bottom: 10px solid #fffa;
	border-right: 10px solid #fffa;
	transition: 0.3s linear all;
}
.header-bar .logo {
	position: absolute;
	top: calc(50% - 20px);
	left: 10px;
	transform: translateY(-50%);
	color: rgba(255, 255, 255, 0);
	font-family: 'Parisienne', cursive;
	cursor: default;
	user-select: none;
}
.slider-menu {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
	z-index: 1;
}
.slider-menu li {
	display: inline-flex;
	padding: 14px;
	margin-left: 2px;
	font-family: 'Quicksand', sans-serif;
	color: #684f1a;
	cursor: pointer;
	transition: 0.3s linear all;
	user-select: none;
	font-family: Georgia, serif;
	padding-right: 20px;
	
}
.slider-menu{
	left: 40px;
}
.slider-menu  li:hover {
	color: #fff;
	box-shadow: 0 50px 5px rgba(0, 0, 0, 0.15) inset;
}
.aeu-signature {
	position: fixed;
	top: 5px;
	left: 50%;
	transform: translate(-50%);
	font-size: 15px;
	line-height: 30px;
	background-color: rgba(255, 255, 255, 0);
	padding: 5px 10px;
	border-radius: 25px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.aeu-signature { font-family: "Quicksand"; }
.aeu-signature img { height: 30px; }