.header, .footer{
    height: 50px;
    background: rgba(141, 172, 195, 0.264);
    color: rgb(51, 85, 160);
    font-size: x-large;
    padding: 10px;
  }
  .wrapper{
    background:  rgba(141, 172, 195, 0);
  }