.flex-container {
  display: flex;
  flex-direction: row;

}


.flex-container1 {
  display: flex;
  flex-direction: row;

}
img {
  max-width: 45%;
  height: auto;
  width:auto;
}
.ServiceDescription{





}

body {
  /*   background-color: #222; */
    font-family: sans-serif;
    font-size: .8rem;
    line-height: 150%;
  }
  
  /* Setting up the responsive Grid container - auto-fit + minmax() */
  .albums {
    display: grid;
    grid-template-columns: none;
    gap: 2em;
    margin: 2em;
  }
  
  
  /* Grid inside grid - album cards also use grid for layout setup */
  .album {
    background: rgba(141, 172, 195, 0.264);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    padding: 1.5em;
    border-radius: 1em;
    display: flex;
    grid-template-columns: 150px 1fr;
    gap: 1.5em;
    align-items: center;
    color: rgb(106, 162, 226);
    font-weight: 100;
  }
  
  /* Important step - image will spill over the container if width is not declared explicitly */
  .album__artwork {
    width: 100%;
    border-radius: 0.4em;
  }
  
  
  /* Some additional text styling */
  h2 {
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 0.25em;
  }
  p {
    color: rgb(0, 0, 0);
  }
  
  .album__artist {
    opacity: 0.7;
    text-transform: uppercase;
    margin-bottom: .5em;
    font-style: oblique;
    padding-bottom: 25%;
    letter-spacing: .7px;
  }

.snip1527 {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  float: left;
  font-family: 'Lato', Arial, sans-serif;
  font-size: 16px;
  margin: 10px 1%;
  max-width: 310px;
  min-width: 250px;
  overflow: hidden;
  position: relative;
  text-align: left;
  width: 100%;
}

.snip1527 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.snip1527 img {
  max-width: 100%;
  vertical-align: top;
  position: relative;
}

.snip1527 figcaption {
  padding: 25px 20px 25px;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.snip1527 figcaption:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #700877;
  content: '';
  background: -moz-linear-gradient(90deg, #700877 0%, #ff2759 100%, #ff2759 100%);
  background: -webkit-linear-gradient(90deg, #700877 0%, #ff2759 100%, #ff2759 100%);
  background: linear-gradient(90deg, #700877 0%, #ff2759 100%, #ff2759 100%);
  opacity: 0.8;
  z-index: -1;
}

.snip1527 .date {
  background-color: #fff;
  border-radius: 50%;
  color: #700877;
  font-size: 18px;
  font-weight: 700;
  min-height: 48px;
  min-width: 48px;
  padding: 10px 0;
  position: absolute;
  right: 15px;
  text-align: center;
  text-transform: uppercase;
  top: -25px;
}

.snip1527 .date span {
  display: block;
  line-height: 14px;
}

.snip1527 .date .month {
  font-size: 11px;
}

.snip1527 h3,
.snip1527 p {
  margin: 0;
  padding: 0;
}

.snip1527 h3 {
  display: inline-block;
  font-weight: 700;
  letter-spacing: -0.4px;
  margin-bottom: 5px;
}

.snip1527 p {
  font-size: 0.8em;
  line-height: 1.6em;
  margin-bottom: 0px;
}

.snip1527 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

.snip1527:hover img,
.snip1527.hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}